aiohttp
aiosignal
annotated-types
anyio
attrs
bcrypt
boto3
botocore
cachetools
certifi
charset-normalizer
chromadb
click
coloredlogs
dataclasses-json
distro
duckdb
fastapi
filelock
frozenlist
fsspec
google-auth
greenlet
grpcio
h11
hnswlib
httpcore
httptools
httpx
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonschema
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-chroma
langgraph
langsmith
numpy
onnxruntime
openai
orjson
pandas
pydantic
python-dotenv
PyYAML
requests
scikit-learn
scipy
sentence-transformers
SQLAlchemy
starlette
tenacity
tiktoken
tokenizers
torch
tqdm
transformers
typer
typing_extensions
urllib3
uvicorn
watchfiles
websockets
yarl
zstandard
emoji
streamlit
langchain-ollama
langchain-huggingface